## .NET
bin/
obj/
*.user
*.suo

## Visual Studio / Rider / VS Code
.vs/
.vscode/
.idea/
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

## Logs
*.log

## OS
.DS_Store
Thumbs.db